{% extends 'classroom/base.html' %}
{% block content %}


<div class="container">
  <div class="jumbotron">
{% if teacher.teacher_assignment.count == 0 %}
  <h2>No Assignments Uploaded Yet</h2>
{% else %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Assignment Name</th>
        <th scope="col">Uploaded Date</th>
        <th scope="col">Download</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for assignment in teacher.teacher_assignment.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ assignment.assignment_name }}</td>
          <td>{{ assignment.created_at }}</td>
          <td><a href="{{ assignment.assignment.url }}" class="btn btn-primary" target="_blank">Download</a></td>
          <td><a href="{% url 'classroom:update_assignment' id=assignment.id %}" class="btn btn-primary">Update</a></td>
          <td><a href="{% url 'classroom:assignment_delete' id=assignment.id %}" class="btn btn-danger">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
</div>
</div>
{% endblock %}
