{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}

<div class="login-page">
    <img src="{% static 'images/login-background.PNG' %}" alt="">
    <div class="student-signup-form">
      {% if registered %}
      <h1>Thank you for registering.</h1>
      {% else %}
      <h1>Sign up as a Student.</h1>
      <h3>Fill out the form:</h3>

      <form method="post">
        {% csrf_token %}

        {{ student_profile_form.non_field_errors }}

        <p> <label>{{ student_profile_form.name.label_tag }}</label>{{ student_profile_form.name }}</p>
        <p> <label >{{ student_profile_form.roll_no.label_tag }}</label>  {{ student_profile_form.roll_no }}</p>
        <p> <label for="">{{ student_profile_form.phone.label_tag }}</label> {{ student_profile_form.phone }}</p>
        <p> <label for="">{{ student_profile_form.email.label_tag }}</label>{{ student_profile_form.email }}</p>

        {{ user_form.non_field_errors }}

        <p> <label for="">{{ user_form.username.label_tag }}</label>{{ user_form.username }}</p>
        <p> {{ user_form.username.help_text }}</p>
        <p> <label for="">{{ user_form.password1.label_tag }}</label>{{ user_form.password1 }}</p>
        <p>Password can't be similar to your other fields and must contain atleast 8 characters.</p>
        <p> <label for="">{{ user_form.password2.label_tag }}</label>{{ user_form.password2 }}</p>
        <p> {{ user_form.password2.help_text }} </p>
        <input type="submit" name="" value="Sign Up">
      </form>
      <a href="{% url 'classroom:login' %}">Already have an account.</a>
      {% endif %}
    </div>
</div>

{% endblock %}
