.login-page body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav{
  width: 100%;
  background: #00316b;
  margin-bottom: 0;
}

ul{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: none;
    margin-bottom: 0;
    background: #00316b;
}

ul li{
  list-style: none;
  display: block;
  padding: 20px;
  text-align: center;
  margin: 0;
}
ul li:hover{
  background: #e91e63;
  display: block;
  margin-bottom: 0;
}
ul li a
{
  color: #fff;
  text-decoration: none;
  display: block;
}
.toggle{
  width: 100%;
  padding: 10px;
  background: #00316b;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: block;
}
.toggle a{
  text-align: left;
  display: block;
  color: #fff;
  text-decoration: none;
  margin-top:5px;
  margin-bottom: -25px;
  padding: 0px;
}


.active{
  display: block;
}

/* INDEX HOME PAGE ############################################# */

.banner{
  margin: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3475ca;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
  background-attachment: fixed;
}
.banner .content{
  position: relative;
  max-width: 750px;
  text-align: center;
  color: white;
  font-weight: 1000;
}

.banner .content{
  font-size: 40px;
}

.about{
  position: relative;
  background: #00316b;
  color: white;
  text-align: center;
  padding: 100px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 25px;
}

.use-content{
  background: #e91e63;
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: 600;
}

.use-content h1{
  font-weight: 700;
  font-size: 50px;
}

.research{
  background: #00316b;
  padding:5%;
  text-align: center;
  color: white;
  font-weight: 600;
}

.research img{
  width:100%;
  height: 100%;
}

.research .digital-content{
  padding: 30px;
  padding-top: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.box {
  margin: 10%;
  margin-left: 15%;
  position: relative;
  width: 400px;
  height: 500px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0,0,0,.5);
}

@media only screen and (max-width: 600px){
  .box{
    margin: 5%;
  }
}

.box:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.box .imgBx {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box:hover .imgBx img {
  opacity: 0;
}

.box .content {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #00316b;
  transition: 0.5s;
  overflow: hidden;
  color: white;
  padding: 15px;
  box-sizing: border-box;
}

.box:hover .content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.box .content h3 {
  margin: 0;
  padding: 5px;
  font-size: 30px;
  font-weight: 700;
}

.box .content li {
  margin: 10px 10px;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
}

.box:hover .content li {
  opacity: 1;
  transition-delay: 0.5s;
}

.social{
  background: #e91e63;
  padding:5%;
  color: white;
  text-align: center;
}

.social i{
  margin-top: 10px;
  color: white;
  font-size: 40px;

}

.social .social-icon{
  display: inline-block;
  width: 90px;
  height: 90px;
  padding: 10px;
  margin: 10px;
  background: #00316b;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070
}

.social-icon:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.social-icon:hover i{
  transform: scale(1.5);
  transition: 0.5s;
  color: #e91e63;
}

/* SCROOL BAR ######################################## */

/* width
::-webkit-scrollbar {
  width: 20px;
}

/* Track
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover
::-webkit-scrollbar-thumb:hover{
  background: #e91e63;
}

/*  LOGIN PAGE ############################################# */

.login-page{
  position: absolute;
  width: 100%;
  height: 120vh;
  background: #3475ca;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page h1{
  font-size: 40px;
  font-weight: 600;
}

.login-page img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
  background-attachment: fixed;
  overflow: hidden;
}

.login-form {
  margin-top: 30px;
  height:600px;
  width:400px;
  background: #e91e63;
  color: white;
  padding: 70px 100px;
  position: absolute;

}

.avatar img{
  height:100px;
  width:100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 37%;
  opacity: 1;
  overflow: auto;
  opacity: 1;
}

.login-form h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  opacity: 1;
}

.login-form p{
  margin-top: 30px;
  padding:0;
  font-size: 20px;
  font-weight: bold;
  opacity: 1;
}

.login-form input{
  width: 100%;
  margin-bottom: 20px;
  color: white;
  opacity: 1;
}

.login-form input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 20px;
}
.answer{
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 20px;
}

.answer:hover{
  transform: scale(1.1);
  transition: 0.5;
  border-bottom: 1px solid #00316b;
}

.login-form input[type="text"]:hover, input[type="password"]:hover{
  transform: scale(1.1);
  transition: 0.5;
  border-bottom: 1px solid #00316b;
}

.login-form input[type="submit"]{
  border: 1px solid #00316b;
  outline: none;
  height: 40px;
  background: #00316b;
  color: white;
  font-size: 18px;

}

.login-form input[type="submit"]:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5;
}

.login-form a{
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: white;
  opacity: 1;
}

.login-form a:hover{
  color: #00316b;
  transform: scale(1.2);
  transition: 0.5s;
}

/*STUDENT SIGN UP ****************************************************/

.student-signup-form{
  margin-top: 2px;
  background: #e91e63;
  padding: 20px;
  padding-top: 3%;
  position: absolute;
  text-align: center;
  color: white;
}

.student-signup-form h1,h3{
  margin: 10px;
  padding: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  opacity: 1;
}

.student-signup-form label{
  margin: 5px;
  margin-right: 10px;
  padding:0;
  font-size: 20px;
  font-weight: bold;
  opacity: 1;
}

.student-signup-form input[type="text"]{
  color: white;
}


.student-signup-form input[type="submit"]{
  border: 1px solid #00316b;
  outline: none;
  height: 40px;
  background: #00316b;
  color: white;
  font-size: 18px;
  margin: 15px;
}

.student-signup-form input[type="submit"]:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5;
}

.student-signup-form a{
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: white;
  opacity: 1;
}

.student-signup-form a:hover{
  color: #00316b;
  transform: scale(1.2);
  transition: 0.5s;
}

/* SIGN UP PAGE ************************************************/

.login-page .signup{
  background: #e91e63;
  height: 500px;
  width: 500px;
  margin-top: 10%;
  margin-left: 10%;
  transform: translate(-50px,-50px);
  color: #fff;
  text-align: center;
  border-radius: 20%;
  box-shadow: 0 30px 30px rgba(0,0,0,.5);
  padding: 30px;
}

.login-page .signup h1{
  margin-top: 15%;
  font-size: 50px;
  font-weight: 600;
}

.login-page .signup p{
  display: block;
  height: 50px;
  color: #fff;
  background: #00316b;
  margin: 20px;
  padding: 5px;
  box-shadow: 0 30px 30px rgba(0,0,0,.5);
  font-size: 30px;
}

.login-page .signup p:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.login-page .signup a{
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.notice{
  margin-top: 50px;
}

.notice .notice-details{
  background: #c7c7c5;
  padding: 20px;
  color: black;
}

.notice .notice-img{
  width:75px;
  height:75px;
  border-radius: 50%;
}
