.profile{
  margin:0;
  padding: 0;
  position: absolute;
  width:100%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.profile img{
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-attachment:
}

.profile-box{
  width: 600px;
  margin-top: 20px;
  background: #e91e63;
  position: absolute;
  padding: 15px;
  border-radius: 10%;
  box-shadow: 0 5px 15px -5px #00000070
}

@media only screen and (max-width: 600px){
  .profile-box{
    font-size: 15px;
  }
}

.profile-box img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -10%;
  left: 35%;
  box-shadow: 0 5px 15px -5px #00000070
}

.profile-details{
  color: white;
  margin-top: 30%;
  margin-left: 10%;
}

.profile-details h1{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.profile-details p{
  font-size: 30px;
  font-weight: 400;
}

.profile-details .edit-button{
  margin: 20px;
  margin-left: 25%;
  height: 70px;
  width: 200px;
  text-align: center;
  background: #00316b;
  text-decoration: none;
  color: white;
  padding: 5px;
}

.student-list{
  margin: 0;
  padding: 0;
  background: url("/static/images/list-background.PNG");
  background-size:auto;
  background-repeat: repeat;
  width: 100%;
  padding-bottom: 600px;
  padding-top: 5%;
  color: black;
}

.student-list .student-box{
  margin: 10%;
  position: relative;
  width: 100%;
  height: 400px;
  background: #000;
}
.student-list .student-box:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.student-list .student-box .imgBx{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.student-list .student-box .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.student-list .student-box:hover .imgBx img{
  opacity: 0;
}

.student-list .student-box .content{
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #00316b;
  transition: 0.5s;
  overflow: hidden;
  color: white;
  padding: 15px;
  box-sizing: border-box;
}

.student-list .student-box:hover .content{
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.student-list .student-box .content h3{
  margin: 0;
  padding: 5px;
  font-size: 30px;
  font-weight: 700;
}

.student-list .student-box .content p{
  margin: 30px 10px;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
  font-size: 15px;
}

.student-list .student-box:hover .content p{
  opacity: 1;
  transition-delay: 0.5s;
}

.student-list .student-box .content .add-button{
  margin: 20px;
  padding: 10px;
  margin-left: 0;
  text-decoration: none;
  color: white;
  background: #e91e63;
  text-align: center;

}
